<h3>ADMIN</h3>

<form>
    <div class="form-group">
        <label for="id-input">ID</label>
        <input type="text" class="form-control" id="id-input" aria-describedby="id-help" placeholder="Enter ID">
        <small id="id-help" class="form-text text-muted">This should match the secret ID on the server.</small>
    </div>
    {{#eq registrationOpen true}}
        <button id="submit-start" type="submit" class="btn btn-primary">
            <span id="submit-start-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
            Start Game
        </button>
    {{else}}
        <label for="custom-message-input">Message</label>
        <input type="text" class="form-control" id="custom-message-input" aria-describedby="custom-message-help" placeholder="Enter a custom message">
        <button id="submit-reminder" type="submit" class="btn btn-primary">
            <span id="submit-reminder-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
            Send Reminders
        </button>
    {{/eq}}
</form>

<div id="admin-success" class="alert alert-success" style="display: none;" role="alert">
    Success!
</div>

<div id="admin-error" class="alert alert-danger" style="display: none;" role="alert">
    Error!
</div>
