<div id="registration-landing">
	<div id="sign-up-text">
		<h4 id="sign-up">404</h4>
		<h3 id="secret">SECRET</h3>
		<h3 id="dj">DJ</h3>
		<h3 id="more-info">Looks like you got a broken link</h3>
	</div>
</div>
<button id="go-to-signup" class="btn btn-primary">Go To Signup</button>
